
    <div class="col s5">
	<%=form_tag(:embassy_search, method: 'GET', class: " card-panel ") do%>
	<div class="row">
		<div class="">
			<div class="input-field ">
				<%= text_field_tag(:from, "",class: "validate") %>
				<%= label_tag(:from) %>
			</div>
	    </div>
	    <div class="">
			<div class="input-field">
				<%= label_tag(:to) %>
				<%= text_field_tag(:to, "", class: "validate") %>

			</div>
		</div>

	</div>
	<div class="row">
		<div class="col m4 offset-m4 center">   
		<%= submit_tag(:search, class: 'btn waves-effect waves-light js-loader') %>
		<% end %>
		</div>
	</div>
	</div>
