<div class="col s4 ">
	<%=form_tag(:search_results, method: 'GET', class: " card-panel center") do%>
		<h4>Hotel Search</h4>
		<div class="row">
			<div class="input-field ">
					<%= text_field_tag(:destination, "",class: "validate") %>
					<%= label_tag(:destination) %>
			</div>
			<div class="input-field">
				<%= label_tag(:from) %>
				<%= text_field_tag(:from, "", class: "datepicker") %>
			</div>
			<div class="input-field ">
				<%= label_tag(:to) %>
				<%= text_field_tag(:to, "", class: "datepicker") %>
			</div>
		</div>
		<div class="row">
			<div class="col m4 offset-m4 center ">   
				<%= submit_tag(:search, class: 'btn waves-effect waves-light js-loader') %>
		<% end %>
			</div>
	</div>
</div>
	