<div class="container">
	<div class="row center"></div>
		<% @hotels.each do |hotel| %>
		<div class="col s12 m7">
		    <h4 class="header"><%= hotel[:name] %> <%= stars(hotel[:stars]) %>  </h4>
		    <div class="card horizontal hoverable">
		     	<div class="card-image">
		        <a href= <%= hotel[:link]%>>  <img src=<%= hotel[:image] %> class="image-format"></a>
		    </div>
		    <div class="card-stacked grey lighten-5">
			   	<div class="card-content ">
			        <p><b id="price"><%= hotel[:price] %></b>, <%= hotel[:price_description] %></p>
			        <p><%= hotel[:location_info] %></p>
			        <p> <b>Address:</b> <%= hotel[:address] %></p>
			        <p> <b>Phone:</b> <%= hotel[:phone] %></p>
			    </div>
			    <div class="card-action">
			        <a href=<%= hotel[:link] %>> <%= hotel[:name] %></a>
			    </div>
		    </div>
		    </div>
		</div>
		<% end %>		

	</div>
	<%= will_paginate @hotels, renderer: MaterializePagination::Rails%>
</div>
