<%= alert %>
<div class="row">
	<%=form_tag(:search_results, method: 'GET', class: "col m6") do %>

	<div class="row">
		<div class="input-field col m3">
			<%= text_field_tag(:destination, "",class: "validate") %>
			<%= label_tag(:destination) %>
		</div>
	</div>
	<div class="row">
		<div class="input-field col m3">
			<%= text_field_tag(:from, "", class: "datepicker") %>

		</div>
	</div>
	<div class="row">
		<div class="col m3" id="date-picker">
			<%= label_tag(:to) %>
			<%= text_field_tag(:to, "", class: "datepicker picker__input") %>
		</div>
	</div>
	<%= submit_tag(:search, class: 'btn waves-effect waves-light') %>
	<% end %>
</div>


<%= @hotels %>